$fontStack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$lightThemeBg: #fff;
$darkThemeBg: #111;
$lightTextColor: #333;
$darkTextColor: #fff;
$lightThemeContentCardBg: #eee;
$darkThemeContentCardBg: #333;
$lightThemeButtonBg: #4caf50;
$darkThemeButtonBg: #4caf50;
$lightThemeButtonHoverBg: #45a049;
$darkThemeButtonHoverBg: #45a049;
$lightThemeBorderColor: #ddd;
$darkThemeBorderColor: #555;